<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="/static/css/style.css">
<!--    <link rel="stylesheet" href="/static/css/tailwind.css">-->
</head>
<body>
<div class="file-upload">
    <form class="form" enctype="multipart/form-data" method="post">
        <h4>Upload File</h4>
        <p>{{ . }}</p>
        <input class="file" name="file" type="file" />
        <div>
            <button class="btn" type="submit">Upload</button>

            <progress class="w-full  text-black progress border rounded" max="100" value="0"></progress>
            <label class="pct">
            </label>
        </div>
    </form>
</div>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/progress.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>